<div class="admin-controls">
  <a class="btn-admin" id="reg-admin-btn">
    <h3>New Admin</h3>
  </a>
  <a href="/student-list" class="btn-admin">
    <h3>Manage Tutions</h3>
  </a>

  <a href="/reg-list" class="btn-admin">
    <h3>Manage Tutor Registration</h3>
  </a>

  <form id="registerForm" action="/register" method="POST" class="reg-admin-form">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
    <input type="submit" value="Register" class="btn">
  </form>
</div>

<div class="admin-tutorsdiv">
  <h2>Tutors</h2>
  <a href="/add-tutor" class="btn-add">+ Add New</a>

  <table class="admin-tutors">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Tag</th>
        <th>Cont</th>
        <th>Inst</th>
        <th>Dept</th>
        <th>HSC</th>
        <th>Back</th>
        <th>College</th>
        <th>Exp</th>
        <th>Mode</th>
        <th>Pref</th>
        <th>Rate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(tutor=> { %>
        <tr>
          <td>
            <%= tutor.name %>
          </td>
          <td>
            t<%= tutor.id %>
          </td>
          <td>
            <%= tutor.tag %>
          </td>
          <td>
            <a href="<%= tutor.fb %>" class="btn-icon">ⓕ</a>
            <a href="mailto:<%= tutor.email %>" style="text-decoration: none;">📧</a>
            <a href="tel:<%= tutor.phone %>" class="btn-icon">📞</a>
          </td>
          <td>
            <%= tutor.institution %>
          </td>
          <td>
            <%= tutor.dept %>
          </td>
          <td>
            <%= tutor.hsc %>
          </td>
          <td>
            <%= tutor.background %>
          </td>
          <td>
            <%= tutor.college %>
          </td>
          <td>
            <%= tutor.expertise %>
          </td>
          <td>
            <%= tutor.mode %>
          </td>
          <td>
            <%= tutor.pref %>
          </td>
          <td>
            <%= tutor.rating %>
          </td>
          <td>
            <div style="display: flex; gap: 5px;">
              <a href="/inc_rating/<%= tutor._id %>" class="btn-icon">⬆️</a>
              <a href="/dec_rating/<%= tutor._id %>" class="btn-icon">⬇️</a>
            </div>
            <form action="/delete-tutor/<%= tutor._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Del" class="btn-delete btn">
            </form>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const regAdminBtn = document.getElementById('reg-admin-btn');
    const registerForm = document.getElementById('registerForm');

    if (regAdminBtn && registerForm) { // Check if elements exist
      regAdminBtn.addEventListener('click', function (event) {
        event.preventDefault();
        registerForm.style.display = registerForm.style.display === 'block' ? 'none' : 'block';
      });
    } else {
      console.error('One or both elements not found.');
    }
  });

</script>