<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <div class="container">
      <%- include('../partials/header.ejs') %>

      <main>
        <%- body %>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
    
  </body>

  <script src="/js/script-main.js"></script>

</html>