<div class="author">
  <h1 class="author__heading"><strong>QTutor</strong></h1>
  <p class="author__body">Qualified Tutors from  <strong><i>BUET | DU | Medical | Cadet</i></strong></p>
</div>


<section class="articles">
  <h2 class="articles__heading">All the Tutors</h2>

  <% data.forEach(tutor=> { %>
    <div class="tutordiv">
      <h2>Name: <%= tutor.name %></h2>
      <p><strong>Institution:</strong> <%= tutor.institution %></p>
      <p><strong>Department:</strong> <%= tutor.dept %></p>
      <p><strong>HSC Batch:</strong> <%= tutor.hsc %></p>
      <p><strong>Background:</strong> <%= tutor.background %></p>
      <p><strong>College:</strong> <%= tutor.college %></p>
      <p><strong>Expertise:</strong> <%= tutor.expertise %></p>
      <p><strong>Mode:</strong> <%= tutor.mode %></p>
      <p><strong>QTutor Rating(10):</strong> <%= tutor.rating %></p>
    </div>  
  <% }) %>

</section>