<div class="q-container">
  <div class="q-filter-container">
    <form id="q-filterForm" action="/" method="GET">
      <select name="category" id="categorySelect">
        <option value="bangla" <%= category === 'bangla' ? 'selected' : '' %>>Bangla</option>
        <option value="english" <%= category === 'english' ? 'selected' : '' %>>English</option>
        <option value="science" <%= category === 'science' ? 'selected' : '' %>>Science</option>
        <option value="history" <%= category === 'history' ? 'selected' : '' %>>History</option>
        <option value="religion" <%= category === 'religion' ? 'selected' : '' %>>Religion</option>
        <option value="math" <%= category === 'math' ? 'selected' : '' %>>Math</option>
        <option value="IQ" <%= category === 'IQ' ? 'selected' : '' %>>IQ</option>
        <option value="other" <%= category === 'other' ? 'selected' : '' %>>Other</option>
      </select>
      <button type="submit">Filter</button>
    </form>
  </div>
  <!-- <div class="q-category-heading">
    <%= category.charAt(0).toUpperCase() + category.slice(1) %>
  </div> -->
  <div class="q-cards-container">
    <% questions.forEach(question => { %>
      <div class="q-card">
        <h2>
          <%= question.questionText %>
        </h2>
        <p><strong>People Who Know:</strong>
          <%= question.knowCount %>
        </p>
        <p><strong>People Who Don't Know:</strong>
          <%= question.dontKnowCount %>
        </p>
      </div>
    <% }) %>
  </div>
</div>
